<div class="md-copyright">
    {% if config.copyright %}
      <div class="md-copyright__highlight">
        {{ config.copyright }}
      </div>
    {% endif %}
    {% if not config.extra.generator == false %}
     <p style="margin-top: 0.1rem !important; margin-bottom: 0.1rem !important;">※本ウェブサイトの存在については、ＥＮＥＯＳ 山口敦治社長と共有しています。</p>
     <p style="margin-top: 0.1rem !important; margin-bottom: 0.1rem !important;">※当方の解釈に誤りがないとはいえません。記載について問題のご指摘は、<a href="https://x.com/minnanosaiban"> <i class="fa-brands fa-x-twitter"></i>（@minnanosaiban）</a>までお願いいたします。</p>
    {% endif %}
</div>

    