<div class="md-copyright">
    {% if config.copyright %}
      <div class="md-copyright__highlight">
        {{ config.copyright }}
      </div>
    {% endif %}
    {% if not config.extra.generator == false %}
     <p style="margin-top: 0.1rem !important; margin-bottom: 0.1rem !important;">※本ウェブサイトの存在については、タウンホールミーティングにおいて、ＥＮＥＯＳ 山口敦治社長と共有しています。</p>
     <p style="margin-top: 0.1rem !important; margin-bottom: 0.1rem !important;">※裁判文書の内容を当方の理解に基づいて要約したものを掲載しております。正確な内容は原文を掲載しているページをご確認ください。</p>
     <p style="margin-top: 0.1rem !important; margin-bottom: 0.1rem !important;">※本ウェブサイトに関するご意見は、<a href="https://x.com/minnanosaiban"> <i class="fa-brands fa-x-twitter"></i>（ <u>@minnanosaiban</u> ）</a>までお願いいたします。</p>
    {% endif %}
</div>