<div class="md-copyright">
    {% if config.copyright %}
      <div class="md-copyright__highlight">
        {{ config.copyright }}
      </div>
    {% endif %}
    {% if not config.extra.generator == false %}
     <p style="margin-top: 0.1rem !important; margin-bottom: 0.1rem !important;">※本ウェブサイトの存在については、タウンホールミーティングにおいて、ＥＮＥＯＳ 山口敦治社長と共有しています。</p>
     <p style="margin-top: 0.1rem !important; margin-bottom: 0.1rem !important;">※裁判書類の原文を掲載するなど、公平性に配慮しておりますが、誤りが含まれている可能性もあります。ご指摘等は、<a href="https://x.com/minnanosaiban"> <i class="fa-brands fa-x-twitter"></i>（ <u>@minnanosaiban</u> ）</a>までお願いいたします。</p>
    {% endif %}
</div>

    